<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body ng-app="top-songs">
    <search placeholder="Search by title artist or album"></search>
    <search-results></search-results>
  </body>
</html>
